---
# in the above example, this would be vars/external_vars.yml
ntp_server: <NTP_FQDN>
vxflex_gateway_ip: <VXFLEX_IP>
vxflex_gateway_username: <USERNAME>
vxflex_gateway_pw: <PASSWORD>
vxflex_version: "2.6-10000.123"
vxflex_system_name: <NAME>
vxflex_storage_pool_name: <STORAGE_POOL_NAME>
vxflex_protection_domain_name: <VXFLEX_PD_NAME>
vxflex_master_mdm_name: <MASTER_MDM_NAME>
vxflex_standby_mdm_name: <STANDBY_MDM_NAME>
vxflex_tiebreaker_mdm_name: <TIEBREAK_MDM_NAME>
vxflex_master_mdm_mgmt_ip:
  - <MASTER_MDM_MGMT_IP>
vxflex_standby_mdm_mgmt_ip:
  - <STANDBY_MDM_MGMT_IP>
vxflex_tiebreaker_mdm_mgmt_ip:
  - <TIEBREAKER_MDM_MGMT_IP>
vxflex_master_mdm_ip:
  - <MASTER_MDM_IP_1>
  - <MASTER_MDM_IP_2>
vxflex_standby_mdm_ip:
  - <STANDBY_MDM_IP_1>
  - <STANDBY_MDM_IP_2>
vxflex_tiebreaker_mdm_ip:
  - <TIEBREAKER_MDM_IP_1>
  - <TIEBREAKER_MDM_IP_2>
vxflex_mdm_cidr: 10.10.0.0/8
rexray_log_level: debug
